<h1>Eat-da-Burger!</h1>

<ul>
  {{#each burgers}}
    <li>
      <p>
        {{this.id}}. {{this.burger}}

        <form action="/delete?_method=DELETE" method="POST">
          <input type="hidden" name="id" value="{{this.id}}">
          <button type="submit">Devour!</button>
        </form>
      </p>
    </li>
  {{/each}}
</ul>

<h2>Add Burger</h2>
<form method="POST" action="/create" class="button-size">
	<textarea type="text" name="burger"></textarea>
	<button type="submit">Add Burger!</button>
</form>

<h2>Update Menu!</h2>
<form action="/update?_method=PUT" method="POST" class="button-size">
  <input type="text" name="id" placeholder="id">
	<textarea type="text" name="burger" placeholder="plan"></textarea>
	<button type="submit">Update Menu!</button>
</form>